.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;

  &:hover {
    color: inherit;
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    &:focus {
      outline: 1;
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
  }

  .btn-sm {
  }
  .btn-lg {
  }
}
